security:
  keyFile: mongo.key
  authorization: enabled
replication:
  replSetName: rs0
processManagement:
  fork: true
net:
  bindIp: 0.0.0.0
  port: 65535
  tls:
    mode: requireTLS
    certificateKeyFile: mongodb.pem
    certificateKeyFilePassword: passwordIfItHasOneAtAll
    allowConnectionsWithoutCertificates: true
systemLog:
  path: mongolog.log
  destination: file
storage:
  dbPath: ""
  directoryPerDB: true
